<div id="<%= dom_id article %>" class="card bg-base-100 w-96 shadow-xl">
  <div class="card-body">
    <h2 class="card-title"><%= article.title %></h2>

    <%= label_tag Article.human_attribute_name(:content) %>
    <div>
      <%= article.content %>
    </div>

    <%= label_tag Article.human_attribute_name(:open) %>
    <div>
      <%= article.open %>
    </div>

    <%= label_tag Article.human_attribute_name(:creator_name) %>
    <div>
      <%= article.creator_name %>さん
    </div>

  </div>
</div>
