<% content_for :title, t('.title') %>

<h1><%= t('.title') %></h1>

<%= link_to t('btn.new'), new_article_path, class: "btn btn-primary rounded-md" %>

<%= turbo_frame_tag "posts_page_#{@articles.current_page}" do %>
  <%= render partial: "article_list", collection: @articles, as: "article" %>

  <% if @articles.next_page %>
    <%= turbo_frame_tag "posts_page_#{@articles.next_page}",
      src: articles_path(page: @articles.next_page),
      loading: :lazy
    %>
  <% end %>
<% end %>
