<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<%= turbo_frame_tag "posts_page_#{@users.current_page}" do %>
  <%= render @users %>

  <% if @users.next_page %>
    <%= turbo_frame_tag "posts_page_#{@users.next_page}",
      src: users_path(page: @users.next_page),
      loading: :lazy
    %>
  <% end %>
<% end %>

<%= link_to "New user", new_user_path %>
