<!DOCTYPE html>
<html>
  <head>
    <title><%= Settings.system[:title] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/<%= ENV["FONTAWESOME_ID"] %>.js" crossorigin="anonymous" />

    <%= render 'shared/adsense' %>
    <%= render 'shared/analytics' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main class="container">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
